.black-bg {
    background:#252525;
    padding:150px 0; 
    height:100vh;
}

.key-spec {
    background:#252525;
    padding:150px 0; 
    height:auto;
}



.content-anim {
    display: flex;
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top:100px;
}

.img-key-feature {
    opacity:0;
    transform:translateX(-200%);
    transition:.5s ease-in-out;
}

.img-key-feature.active {
    opacity:1;
    transform:translateY(-40%);
    flex-wrap:wrap;
}

.container-anim {
    float: right;
    padding-bottom: 300px;
    width:100%;
}


.anim-right {
    opacity:0;
    transform:translateX(200%);
    transition:.5s ease-in-out;
    width:100%;
}

.anim-left {
    opacity:0;
    transform:translateX(-200%);
    transition:.5s ease-in-out;
}

.anim-left.active, .anim-right.active {
    opacity:1;
    transform:translateX(0);
}

.anim-right.active {
    float: right;
}

.title-key {
    width:1200px;
    margin:auto;
}

.title-key h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-left: 3px solid #fff;
    padding: 0 0 0 5px;
}

.white {
    color:#fff;
}

.anim-right h1 div {
    transform:translateY(-200%);
    opacity:0;
    transition:.5s .5s ease-in-out;
}

.anim-right.active h1 div {
    transform:translateY(0%);
    opacity:1;
}


.feature-key-1 {
    margin-left: 10%;
    width: 45%;
    position: absolute;
    right: 0;
}

.size-phone {
    width:300px;
}

.txt-center {
    text-align:center;
}

.pulse {
    transform: scale(0);
    transition:0.5s ease-in-out;
}


.pulse.active {
    transform: scale(1);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #3498db;
    box-shadow: 0 0 0 #3498db;
    position: absolute;
    top: 0%;
    left: 116px;
    animation: pulse 2s infinite;
    z-index: -1;
}
  
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.5);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(52, 152, 219, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.5);
    }
}

/* DETAIL */

.content-center {
    width: 600px;
    margin: auto;
    position: relative;
    height: auto;
    transform: scale(0);
    transition:.5s;
}

.content-center.active {
    transform: scale(1);
}

.content-center.active .detail-top {
    top: 0px;
}

.content-center.active .detail-component {
    top: 176px;
    opacity:1;
}

.detail-top{
    height: 94px;
    position: absolute;
    top: 41px;
    z-index: 1111;
    left: 196px;
    transition:.5s .6s ease-in-out;
}

.detail-key {
    height: 100px;
    position: absolute;
}

.detail-material {
    width: 350px;
    z-index: 11;
    position: absolute;
    top: 66px;
    left: 196px;
    transition:.5s ease-in-out;
}

.detail-component {
    height: 189px;
    position: absolute;
    top: 40px;
    left: 197px;
    opacity: 0;
    z-index: 1;
    transition: .5s .6s ease-in-out;
}

.detail-pulse {
    transform: scale(0);
    transition:0.5s 1s ease-in-out;
}

.content-center.active .detail-pulse {
    transform: scale(1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3498db;
    box-shadow: 0 0 0 #3498db;
    position: absolute;
    top: 0%;
    left: 116px;
    animation: detailPulse 2s infinite;
    z-index:111;
}
  
@keyframes detailPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.5);
    }
    70% {
        box-shadow: 0 0 0 4px rgba(52, 152, 219, 0.5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.5);
    }
}

#detail-key {
    top:45px;
}

#detail-component-1 {
    left: 242px;
    top: 220px;
}

#detail-component-2 {
    left: 444px;
    top: 273px;
}

#detail-material {
    left: 400px;
    top: 134px;
}

.marge-title {
    margin-bottom:100px;
}