nav {
    position:fixed;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    width:80px;
}

.group-link {
    padding: 10px 10px 10px 0;
}

.round {
    height:15px;
    width:15px;
    border:2px solid #000;
    border-radius:50%;
    margin-bottom:20px;
    position:relative;
    opacity:0;
}

.round.active {
    background:#000;
}

.round.white {
    border:2px solid #fff;
}

.round.active.white {
    background:#fff;
}

.round.active.white span{
    color:#fff;
}


.round.active span {
    transform: translateY(0%);
}

.round span {
    text-transform: uppercase;
    position: absolute;
    left: 30px;
    min-width: 100px;
    top: -2px;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
    font-weight: 800;
}

.round:hover span {
    transform: translateY(0%);
}

.round:last-child {
    margin-bottom:0;
}

.overflow {
    position: absolute;
    width: 117px;
    height: 15px;
    overflow: hidden;
}